<html>
    
    <head>
        <meta charset="utf-8">
        <title>综合课程设计II</title>
        <link rel="stylesheet" type="text/css" href="static/index/index.css" media="screen">
        <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="static/index/index.js"></script>
    </head>
    <body>
        <div>
            <div>综合课程设计II</div>
            <div>基于LRFMC的客户价值分析</div>
            <div>$客户价值分析介绍$</div>
            <h1>Welcome!</h1>
            <a href="../login">用户类型分析</a>
        </div>
        <div>团队介绍</div>
        <div>版权信息</div>
    </body>
</html>