<html>
    
    <head>
        <meta charset="utf-8">
        <title>综合课程设计II</title>
        <link rel="stylesheet" type="text/css" href="static/index/index.css" media="screen">
        <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="static/index/index.js"></script>
    </head>
    <body>
        <div>
            <h1>{{failed}}</h1>
            <div>综合课程设计II</div>
            <div>基于LRFMC的客户价值分析</div>
            <div>$客户价值分析介绍$</div>
            <h1>hello world!</h1>
            <form method="post" action="" class="login">
                <input type="text" placeholder="username" name="username" id="username">
                <input type="password" placeholder="password" name="password" id="password">
                <button type="submit">确认</button>
            </form>
        </div>
        <div>团队介绍</div>
        <div>版权信息</div>
        {% if (failed == "用户登录") or (failed == "登录失败，请重新登录") %}
        <a href="../newuser">注册</a>
        {% else %}
        <a href="../login">登录</a>
        {% endif %}
    </body>
</html>